[client]
port		= 33060
socket		= /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
## innodb_force_recovery = 4

# Don`t edit Manikin
interactive_timeout = 500
wait_timeout=900

# Системные настройки
user		= mysql
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 33060
basedir		= /usr
datadir		= /home/mysql
tmpdir		= /tmp

skip-external-locking

bind-address	       = 0.0.0.0
character-set-server   = UTF8

innodb_file_per_table = 1
max_allowed_packet	= 64M

thread_stack		= 1024K
thread_cache_size	= 128
myisam-recover		= BACKUP
thread_concurrency  = 20

max_user_connections    = 450
max_connections         = 500
back_log                = 500

join_buffer_size        = 2M
read_buffer_size        = 10M
read_rnd_buffer_size    = 10M
sort_buffer_size        = 10M
myisam_sort_buffer_size = 10M
query_cache_limit       = 20M
query_cache_type            = 1
query_cache_strip_comments  = 1

query_cache_size        = 128M
tmp_table_size          = 5000M
max_heap_table_size     = 5000M

max_connect_errors      = 65000
max_error_count         = 65000

key_buffer_size         = 200M
open_files_limit        = 2048
table_open_cache        = 100
table_definition_cache  = 100
flush_time              = 100

log-error               = /var/log/mysql/error.log
log-warnings            = 1

slow_query_log_file	    = /var/log/mysql/slow.log
long_query_time         = 10

expire_logs_days	= 10
max_binlog_size     = 100M

innodb_open_files               = 40000
innodb_buffer_pool_size         = 4000M
innodb_log_file_size            = 256M
innodb_log_buffer_size          = 128M
innodb_flush_log_at_trx_commit  = 2
innodb_flush_method             = O_DIRECT
innodb_thread_concurrency       = 150
transaction-isolation           = READ-UNCOMMITTED
userstat                        = 0

innodb_file_format              = 'Barracuda'

[mysqldump]
quick
quote-names
max_allowed_packet	            = 32M

[mysql]

[isamchk]
key_buffer		                = 32M

!includedir /etc/mysql/conf.d/


[mysqld]
innodb_data_file_path = ibdata1:10M:autoextend
slow_query_log        = 1
